.friend-list {
    max-width: 350px;
}

.friend-list .item {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
}

.friend-list .item:last-child {
    margin-bottom: 0;
}

.friend-list .item .avatar {
    min-width: 75px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.friend-list .item .is-online,
.friend-list .item .is-offline {
    position: relative;
    width: 19px;
    height: 19px;
}

.friend-list .item .is-online::before,
.friend-list .item .is-offline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: green;
    border-radius: 50%;
}

.friend-list .item .is-online::before {
    background-color: green;
}

.friend-list .item .is-offline::before {
    background-color: red;
}

.friend-list .item .name {
    font-size: 22px;
    font-weight: 500;
    color: #000000;
}